<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="sitio oficial core ltd, empresa dedicada a la fabricacion de dispositivos tecnologicos de alta calidad">
    <meta name="keywords" content="core, laptop, smartphone, vr, tablet, soporte tecnico, servicios, dispositivos, alta gama, productos">
    <title>Laptop - Core Ltd</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
        <!-- INICIO HEADER -->
        <div class="container-fluid">
            <div class="row background-color: blue; bg-dark">
            <!-- LOGO -->
                <div class="col-sm-2">
                    <h1 class="logo"><img src="../img/core2.jpg" class="d-block w-100" alt="logo de la marca core"></h1>
                </div>
            <!-- BARRA DE NAVEGACION -->
                <div class="col-10">
                    <div class="d-none d-md-block">
                <ul class="nav justify-content-end nav-pills fs-5 mt-2">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Productos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../views/laptop.html">Laptop</a></li>
                        <li><a class="dropdown-item" href="../views/escritorio.html">Escritorio</a></li>
                        <li><a class="dropdown-item" href="../views/smartphone.html">Smartphone</a></li>
                        <li><a class="dropdown-item" href="../views/tablet.html">Tablet</a></li>
                        <li><a class="dropdown-item" href="../views/vr.html">Vr</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="../views/soporte.html">Soporte</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="../views/servicios.html" tabindex="-1" aria-disabled="true">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/contacto.html" tabindex="-1" aria-disabled="true">Contacto</a>
                    </li> 
                </ul>
            </div>
            <div class="dropdown d-md-none">
                <a class="btn btn-outline-primary" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="../index.html">Inicio</a></li>
                <li><a class="dropdown-item" href="../views/laptop.html">Laptop</a></li>
                <li><a class="dropdown-item" href="../views/escritorio.html">Escritorio</a></li>
                <li><a class="dropdown-item" href="../views/smartphone.html">Smartphone</a></li>
                <li><a class="dropdown-item" href="../views/tablet.html">Tablet</a></li>
                <li><a class="dropdown-item" href="../views/vr.html">Vr</a></li>
                <li><a class="dropdown-item" href="../views/soporte.html">Soporte</a></li>
                <li><a class="dropdown-item" href="../views/servicios.html">Servicios</a></li>
                <li><a class="dropdown-item" href="../views/contacto.html">Contacto</a></li>
                </ul>
            </div>
            </div>
            <!--FIN BARRA NAVEGACION-->
            </div>
            <!-- FIN HEADER -->
                        <!-- INICIO MAIN -->
        <main>
            <section>
                <!-- TITULO -->
                <div class="row p-3">
                    <h2 class="titulo_principal">
                        Sitio oficial de la marca CORE LTD
                    </h2>
                </div>
            </section>

            <!--INICIO CONTENIDO PRINCIPAL-->
        <section>
            <div class="p-1 mt-4">
                <img src="../img/laptop.jpg" class="d-block w-100 rounded sombras" alt="seccion laptop">
            </div>
        </section>
        <section>
            <div class="d-flex justify-content-center p-5 gap-4 d-none d-lg-flex">
                <div>
                    <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><img src="../img/personal.jpg" class="img-fluid  rounded sombras" alt=""></a>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                        Seccion donde encontraras laptops para uso basico. 
                        </div>
                    </div>
                </div>
                <div>
                    <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><img src="../img/trabajo.jpg" class="img-fluid rounded sombras" alt=""></a>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                        Seccion donde encontraras laptops para el trabajo. 
                        </div>
                    </div>
                </div>
                <div>
                    <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><img src="../img/gamer.jpg" class="img-fluid  rounded sombras" alt=""></a>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                        Seccion donde encontraras laptops para jugar. 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-flex gap-3 row justify-content-center mt-2 mb-4">
            <div class="card" style="width: 20rem;">
                <img src="../img/notebooke.webp" class="card-img-top" alt="laptop personal">
                <div class="card-body">
                <h5 class="card-title">intel i3 /Ram 4GB /SSD 240GB /Pantalla 14" /Wifi /Usb 3.0</h5>
                <div class="precio_normal mt-3 mb-3">$ 120.000</div>
                <a href="#" class="btn btn-primary btn-sm">comprar</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="../img/notebooke.webp" class="card-img-top" alt="laptop trabajo">
                <div class="card-body">
                <h5 class="card-title">intel i5 /Ram 8GB /SSD 512GB /Pantalla 14.6" /Wifi /Usb 3.0</h5>
                <div class="precio_normal mt-3 mb-3">$ 150.000</div>
                <a href="#" class="btn btn-primary btn-sm">comprar</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="../img/notebooke.webp" class="card-img-top" alt="laptop gamer">
                <div class="card-body">
                <h5 class="card-title">intel i7 /Ram 16GB /SSD 1TB /Pantalla 15.1" /Wifi /Usb-C /bluetooth</h5>
                <div class="precio_normal mt-3 mb-3">$ 170.000</div>
                <a href="#" class="btn btn-primary btn-sm">comprar</a>
                </div>
            </div>
        </section>
        <section class="d-flex gap-3 row justify-content-center mt-2 mb-4">
            <div class="card" style="width: 20rem;">
                <img src="../img/notebookf.webp" class="card-img-top" alt="laptop personal">
                <div class="card-body">
                <h5 class="card-title">intel i3 /Ram 4GB /SSD 240GB /Pantalla 14" /Wifi /Usb 3.0</h5>
                <div class="precio_normal mt-3 mb-3">$ 140.000</div>
                <a href="#" class="btn btn-primary btn-sm">comprar</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="../img/notebookf.webp" class="card-img-top" alt="laptop trabajo">
                <div class="card-body">
                <h5 class="card-title">intel i5 /Ram 8GB /SSD 512GB /Pantalla 14.6" /Wifi /Usb 3.0</h5>
                <div class="precio_normal mt-3 mb-3">$ 160.000</div>
                <a href="#" class="btn btn-primary btn-sm">comprar</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="../img/notebookf.webp" class="card-img-top" alt="laptop gamer">
                <div class="card-body">
                <h5 class="card-title">intel i7 /Ram 16GB /SSD 1TB /Pantalla 15.1" /Wifi /Usb-C /bluetooth</h5>
                <div class="precio_normal mt-3 mb-3">$ 180.000</div>
                <a href="#" class="btn btn-primary btn-sm">comprar</a>
                </div>
            </div>
        </section>
        <section class="d-flex gap-3 row justify-content-center mt-2 mb-4">
            <div class="card" style="width: 20rem;">
                <img src="../img/notebookc.png" class="card-img-top" alt="laptop personal">
                <div class="card-body">
                <h5 class="card-title">intel i3 /Ram 4GB /SSD 240GB /Pantalla 14" /Wifi /Usb 3.0</h5>
                <div class="precio_normal mt-3 mb-3">$ 150.000</div>
                <a href="#" class="btn btn-primary btn-sm">comprar</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="../img/notebookc.png" class="card-img-top" alt="laptop trabajo">
                <div class="card-body">
                <h5 class="card-title">intel i5 /Ram 8GB /SSD 512GB /Pantalla 14.6" /Wifi /Usb 3.0</h5>
                <div class="precio_normal mt-3 mb-3">$ 190.000</div>
                <a href="#" class="btn btn-primary btn-sm">comprar</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="../img/notebookc.png" class="card-img-top" alt="laptop gamer">
                <div class="card-body">
                <h5 class="card-title">intel i7 /Ram 32GB /SSD 1TB /Pantalla 15.1" /Wifi /Usb-C /bluetooth</h5>
                <div class="precio_normal mt-3 mb-3">$ 210.000</div>
                <a href="#" class="btn btn-primary btn-sm">comprar</a>
                </div>
            </div>
        </section>
                    <!-- INICIO FOOTER -->
            <div class="row p-3 bg-dark">
            <div class="col-4 text-primary">
                Core Ltd  2021
            </div>
            <div class="col-4 text-primary">
                <a href="https://es-la.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/?hl=es" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter-square"></i></a>
            </div>
                <div class="col-4 d-none d-md-block">
                        <a href="#">Privacidad</a>
                        <a href="#">Historia</a>
                        <a href="../views/sitemap.html">Mapa de Sitio</a>
                        <a href="#">Contacto</a>
                </div>
            </div>
    </div>
    <!-- FIN FOOTER -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>