.texto {
    background-color: none;
    color: rgb(59, 52, 124);
    text-align: center;
    font-size: 4rem;
}

@mixin mt ($valor) {
    margin-top: $valor;
}
.parrafo {
    @include mt(2)
}

@mixin textoParrafo ($nombre, $propiedad, $valor) {
    .#{$nombre} {
        @extend .texto;
        #{$propiedad}: $valor
    }
}
@include textoParrafo(mt, margin-top, 10px)