.texto, .mt {
  background-color: none;
  color: #3b347c;
  text-align: center;
  font-size: 4rem; }

.parrafo {
  margin-top: 2; }

.mt {
  margin-top: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background-image: linear-gradient(#ecf5f5, #d0dfec);
  font-family: 'Poppins', sans-serif; }
