.titulo {
  text-align: center;
  color: #1b80a1;
  font-size: 3rem;
  margin-top: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background-image: linear-gradient(#ecf5f5, #d0dfec);
  font-family: 'Poppins', sans-serif; }

.logo {
  filter: grayscale(20%); 
}

.logo:hover {
  filter: grayscale(0%); }

.sombras {
  -webkit-box-shadow: -1px 10px 15px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 15px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 15px 3px rgba(0, 0, 0, 0.75); }

.titulo_principal {
  font-size: 3.5rem;
  text-align: center; }

.precio_normal {
    font-size: 1.3rem;
    font-weight: 500;
}

  .precio {
    font-size: 1.3rem;
    text-decoration: line-through;
  }

  .precio_rebaja {
    font-size: 1.9rem;
  }